// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_project_btn{
position: absolute;
left: 60%;
top: 21%;
}

.lists_inner_wrapper {
    float: left;
    margin-right: -30000px;
    position: relative;
}
.lists-ui-sortable{
    width: 100%;
    height: 100%;
    float: right;
    overflow: scroll;
}
.list {
    background: none repeat scroll 0 0 #e3e3e3;
    border-radius: 2px;
    cursor: grab;
    display: inline-block;
    float: left;
    margin: 6px;
    padding: 6px;
    position: relative;
    width: 240px;
}
.list:hover {
    border: 2px solid #7f7f7f;
}
.list header {
    margin: 2px 0 6px;
}

.card {
    background: none repeat scroll 0 0 white;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.2);
    cursor: pointer;
    margin: 3px 0;
    padding: 10px;
    position: relative;
}

.issues_ul{
    list-style: none;
    margin: 21px 0 10px;
    min-height: 100px;
}
.lists_wrapper {
    display: inline-block;
    float: left;
    min-height: 280px;
    overflow: auto;
    padding: 5px 0 100px 7px;
    width: 88%;
}
.default_card{
    display: none;
}

.ui-widget-content ,.ui-draggable, .ui-draggable-handle {
    position: relative;
    width: 165px;
    right: auto;
    height: 30px;
    bottom: auto;
    left: 0px;
    top: 0px;
}